#alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
altair==4.2.0
anaconda-client==1.11.0
anaconda-navigator==2.3.2
#anaconda-project @ file:///C:/Windows/TEMP/abs_91fu4tfkih/croots/recipe/anaconda-project_1660339890874/work
#anyio @ file:///C:/ci/anyio_1644481921011/work/dist
appdirs==1.4.4
#argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
#argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644551690056/work
#arrow @ file:///opt/conda/conda-bld/arrow_1649166651673/work
#astroid @ file:///C:/Windows/TEMP/abs_b0dtxgpicv/croots/recipe/astroid_1659023126745/work
#astropy @ file:///C:/ci/astropy_1657719656942/work
atomicwrites==1.4.0
#attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
#Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
#autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
#Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
#backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
#backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
#backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
#bcrypt @ file:///C:/Windows/Temp/abs_36kl66t_aw/croots/recipe/bcrypt_1659554334050/work
#beautifulsoup4 @ file:///C:/ci/beautifulsoup4_1650293025093/work
#binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
#bitarray @ file:///C:/ci/bitarray_1657729621682/work
#black @ file:///C:/ci/black_1660239974023/work
#bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.5
#bokeh @ file:///C:/Windows/TEMP/abs_4a259bc2-ed05-4a1f-808e-ac712cc0900cddqp8sp7/croots/recipe/bokeh_1658136660686/work
#boto3 @ file:///C:/Windows/TEMP/abs_4009c406-44ba-4406-8996-204d9b11202flt4kglbk/croots/recipe/boto3_1657820114895/work
#botocore @ file:///C:/ci/botocore_1657735875454/work
#Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
#branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1667848736831/work
brotlipy==0.7.0
cachetools==5.2.1
certifi==2022.12.7
#cffi @ file:///C:/Windows/Temp/abs_6808y9x40v/croots/recipe/cffi_1659598653989/work
#chardet @ file:///C:/ci/chardet_1607706937985/work
#charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
#click @ file:///C:/ci/click_1646038595831/work
click-plugins==1.1.1
#cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
#cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
clyent==1.2.2
#colorama @ file:///C:/Windows/TEMP/abs_9439aeb1-0254-449a-96f7-33ab5eb17fc8apleb4yn/croots/recipe/colorama_1657009099097/work
#colorcet @ file:///C:/ci/colorcet_1651851676912/work
commonmark==0.9.1
comtypes==1.1.10
conda==22.11.1
conda-build==3.22.0
#conda-content-trust @ file:///C:/Windows/TEMP/abs_4589313d-fc62-4ccc-81c0-b801b4449e833j1ajrwu/croots/recipe/conda-content-trust_1658126379362/work
#conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
#conda-package-handling @ file:///C:/b/abs_81m11h_i4r/croots/recipe/conda-package-handling_1663598470202/work
conda-repo-cli==1.0.20
#conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
constantly==15.1.0
#cookiecutter @ file:///opt/conda/conda-bld/cookiecutter_1649151442564/work
#cryptography @ file:///C:/ci/cryptography_1652083563162/work
cssselect==1.1.0
#cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
#Cython @ file:///C:/b/abs_0438epndxm/croots/recipe/cython_1663692771227/work
cytoolz==0.11.0
daal4py==2021.6.0
#dask @ file:///C:/ci/dask-core_1658515307198/work
datashape==0.5.4
#debugpy @ file:///C:/ci/debugpy_1637091961445/work
#decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
#defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
#diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
#dill @ file:///tmp/build/80754af9/dill_1623919422540/work
#distributed @ file:///C:/ci/distributed_1658505715201/work
docopt==0.6.2
#docutils @ file:///C:/Windows/TEMP/abs_24e5e278-4d1c-47eb-97b9-f761d871f482dy2vg450/croots/recipe/docutils_1657175444608/work
#entrypoints @ file:///C:/ci/entrypoints_1649926621128/work
et-xmlfile==1.1.0
exceptiongroup==1.1.2
#fastjsonschema @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_ebruxzvd08/croots/recipe/python-fastjsonschema_1661376484940/work
#filelock @ file:///opt/conda/conda-bld/filelock_1647002191454/work
Fiona==1.8.22
#flake8 @ file:///opt/conda/conda-bld/flake8_1648129545443/work
#Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
#folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1670956290671/work
fonttools==4.25.0

GDAL==3.5.3

geographiclib==2.0

geopy==2.3.0
gitdb==4.0.10
GitPython==3.1.30

h11==0.14.0
haversine==2.7.0

inflection==0.5.1

jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.1

llvmlite==0.38.0

mccabe==0.6.1

mkl-fft==1.3.1

mkl-service==2.4.0
mplcursors==0.5.2
mpldatacursor==0.7.1
mpmath==1.2.1

munch==2.5.0
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.3.0

openpyxl==3.0.10
outcome==1.2.0

patsy==0.5.2
pep8==1.7.1

Pillow==9.2.0
pipreqs==0.4.11

plotly-express==0.4.1

ply==3.11

protobuf==3.20.3

pyarrow==10.0.1

pyasn1-modules==0.2.8

pycosat==0.6.3

pycurl==7.45.1
pydeck==0.8.0
PyDispatcher==2.0.5

pyls-spyder==0.4.0
Pympler==1.0.1

PyQt5==5.15.7

pytest==7.1.2

python-lsp-jsonrpc==1.0.0

pytz-deprecation-shim==0.1.0.post0

pywin32==302

PyYAML==6.0

queuelib==1.5.0

rich==13.0.1

scipy==1.9.1

seaborn==0.12.2
selenium==4.10.0
semver==2.13.0
smmap==5.0.0



squarify==0.4.3
statsmodels==0.13.2
stemgraphic==0.9.1
streamlit==1.25.0
streamlit-folium==0.10.0

TBB==0.2

tenacity==8.2.2

trio-websocket==0.10.3

tzdata==2022.7
tzlocal==4.2

validators==0.20.0

webencodings==0.5.1

win-unicode-console==0.5
wincertstore==0.2

wsproto==1.2.0

yarg==0.1.9
zict==2.1.0

