
altair==4.2.0
anaconda-client==1.11.0
anaconda-navigator==2.3.2

appdirs==1.4.4

atomicwrites==1.4.0

backports.weakref==1.0.post1

blinker==1.5

brotlipy==0.7.0
cachetools==5.2.1
certifi==2022.12.7

click-plugins==1.1.1

clyent==1.2.2

commonmark==0.9.1
comtypes==1.1.10
conda==22.11.1
conda-build==3.22.0


conda-repo-cli==1.0.20

conda-verify==3.4.2
constantly==15.1.0

cssselect==1.1.0

cytoolz==0.11.0
daal4py==2021.6.0

datashape==0.5.4

docopt==0.6.2

et-xmlfile==1.1.0
exceptiongroup==1.1.2

Fiona==1.8.22

fonttools==4.25.0

GDAL==3.5.3

geographiclib==2.0

geopy==2.3.0
gitdb==4.0.10
GitPython==3.1.30

h11==0.14.0
haversine==2.7.0

inflection==0.5.1

jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.1

llvmlite==0.38.0

mccabe==0.6.1

mkl-fft==1.3.1

mkl-service==2.4.0
mplcursors==0.5.2
mpldatacursor==0.7.1
mpmath==1.2.1

munch==2.5.0
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.3.0

openpyxl==3.0.10
outcome==1.2.0

patsy==0.5.2
pep8==1.7.1

Pillow==9.2.0
pipreqs==0.4.11

plotly-express==0.4.1

ply==3.11

protobuf==3.20.3

pyarrow==10.0.1

pyasn1-modules==0.2.8

pycosat==0.6.3

pycurl==7.45.1
pydeck==0.8.0
PyDispatcher==2.0.5

pyls-spyder==0.4.0
Pympler==1.0.1

PyQt5==5.15.7

pytest==7.1.2

python-lsp-jsonrpc==1.0.0

pytz-deprecation-shim==0.1.0.post0

pywin32==302

PyYAML==6.0

queuelib==1.5.0

rich==13.0.1

scipy==1.9.1

seaborn==0.12.2
selenium==4.10.0
semver==2.13.0
smmap==5.0.0



squarify==0.4.3
statsmodels==0.13.2
stemgraphic==0.9.1
streamlit==1.25.0
streamlit-folium==0.10.0

TBB==0.2

tenacity==8.2.2

trio-websocket==0.10.3

tzdata==2022.7
tzlocal==4.2

validators==0.20.0

webencodings==0.5.1

win-unicode-console==0.5
wincertstore==0.2

wsproto==1.2.0

yarg==0.1.9
zict==2.1.0

